@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,600;1,300;1,400;1,500;1,600&display=swap');

:root{
  --primary-color:#047aed;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #333;
}

h1, 
h2{
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p{
  margin: 10px 0;
}

img{
  width: 100%;
}

/* Navbar */
.navbar{
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar .flex{
  justify-content: space-between;
}

.navbar ul{
  display: flex;
}

.navbar a{
  color: #fff;
  padding: 10px;
  max-resolution: 0 5px;
}

.navbar a:hover{
border-bottom: 2px solid #fff;
}

/* Showcase */
.showcase{
  background-color: var(--primary-color);
  height: 400px;
  color: #fff;
  position: relative;
}

.showcase h1{
  font-size: 40px;
}

.showcase p{
  padding: 20px 0;
}

.showcase .grid{
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.showcase-form{
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px ;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control{
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email']{
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus{
  outline: none;
}

.showcase::before,
.showcase::after{
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* Stats */
.stats{
  padding-top: 100px;
}

.stats-heading{
  max-width: 500px;
  margin: auto !important;
}

.stats .grid h3{
  font-size: 35px;
}

.stats .grid p{
  font-size: 20px;
  font-weight: bold;
}